@using LandProject.Web.Models
@model PostCommonViewModel
@{ 
    ViewBag.Title = "Tin tức bất động sản nhà đất";
    Layout = "~/Views/Shared/_LayoutLand_v2.cshtml";
    var landType = (IEnumerable<LandProject.Model.Models.LandType>)ViewBag.LandType;
}
<link href="~/assets/client_v2/css/blog.css" rel="stylesheet" />
<div class="jumbotron head">
    <div class="container head">
        <div class="row">
            <div class="col-lg-10 col-md-8 hidden-md hidden-sm hidden-xs">
                <ol class="breadcrumb">
                    <li>
                        <a href="/" itemprop="url">
                            <p class="cusp" itemprop="title">Trang chủ</p> >
                        </a>
                    </li>
                    <li class="active">
                        <p itemprop="title">Tin tức</p>
                    </li>
                </ol>
            </div>
            <div class="col-lg-2 col-md-12 col-xs-12">
                <a id="lnkCreateAd" class="pull-right btn mbnd-btn-red" href="/dang-tin-mua-ban-nha-dat.html">
                    <img src="~/assets/client_v2/img/ic-pencil.svg" /> Đăng tin miễn phí
                </a>
            </div>
        </div>
    </div>
</div>
<div class="mbndBlogContent container">
    <!-- Slider -->
    <h1 class="_mbndCateTitle">Bản Tin Tức Bất Động Sản</h1>
    <div class="home-header-content">
        <div class="row">
            @if (Model.PostTop.Count() != 0)
            {
                var urlPostTop1 = "/tin-tuc/" + Model.PostTop.ToList()[0].Alias + ".t-" + @Model.PostTop.ToList()[0].ID + ".html";
                <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12 top-left">
                    <a class="_ViewDetail" title="@Model.PostTop.ToList()[0].Name" href="@urlPostTop1">
                        <img alt="@Model.PostTop.ToList()[0].Name" src="~/fileman/Uploads/Post/@Model.PostTop.ToList()[0].Image" />
                        <div class="title"> @Model.PostTop.ToList()[0].Name</div>
                        <div class="sum-desc"> @Model.PostTop.ToList()[0].Description </div>
                    </a>
                    <div class="_date"> @Model.PostTop.ToList()[0].UpdatedDate.Value.ToString("dd/MM/yyyy") </div>
                </div>
               
                <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 top-right">
                    <ul class="list-news">
                        @for (int i = 1; i < Model.PostTop.Count(); i++)
                        {
                            var urlPost = "/tin-tuc/" + Model.PostTop.ToList()[i].Alias + ".t-" + @Model.PostTop.ToList()[i].ID + ".html";
                            var itemPost = Model.PostTop.ToList()[i];
                            <li>
                                <a class="_ViewDetail" title="@itemPost.Name" href="@urlPost">
                                    @itemPost.Name
                                </a>
                            </li>
                        }                     
                    </ul>
                </div>
            }
        </div>
    </div>
    <!--the end slider home-->
    <!-------------------------FormRegister Email Register Newsletter Mobile--------------------->
    <!-------------------------The end FormRegister Email Register Newsletter Mobile--------------------->
    <div class="row">
        <div class="col-lg-9 col-md-9 mbndBlogContentLeft">
            <!--// Listing Marketing-->
            @if (Model.PostListCategory.Count() != 0)
            {
                foreach (var item in Model.PostListCategory)
                {
                    var urlCategory = "/tin-tuc/" + item.Alias + ".pc-" + item.ID + ".html";
                    <div class="row _mbndBlockContainerCategories">
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <a href="@urlCategory" title="@item.Name">
                                <h2 class="_mbndCateTitle">
                                    @item.Name
                                </h2>
                            </a>
                        </div>
                        <div class="col-lg-6 col-md-6 hidden-sm hidden-xs">

                            <a href="@urlCategory" title="@item.Name">
                                <span class="_homeCateViewAll">
                                    Xem tất cả
                                    <img src="http://www.muabannhadat.vn/tin-tuc/wp-content/themes/blogmbnd/images/arrow_desktop.png" alt="">
                                </span>
                            </a>
                        </div>
                        <br />
                    </div>
                    <div class="_homeListingsResults">
                        <div class="row  _homeListingRow">
                            @if (item.Posts.Count() != 0)
                            {
                                foreach (var post in item.Posts)
                                {
                                    var url = "/tin-tuc/" + post.Alias + ".t-" + post.ID + ".html";
                                    <div class="col-lg-4 col-md-4 _homeListingItem">
                                        <a href="@url" title="@post.Name">
                                            <img alt="@post.Name" class="img-thumbnail _image" src="~/fileman/Uploads/Post/@post.Image" width=265 height=150/>
                                        </a>
                                        <a href="@url" title="@post.Name">
                                            <span class="_title">
                                                @post.Name
                                            </span>
                                        </a>
                                        <span class="_date">
                                            <img class="hidden-sm hidden-xs" src="http://www.muabannhadat.vn/tin-tuc/wp-content/themes/blogmbnd/images/icon_date.png" alt="" />
                                            <img class="hidden-lg hidden-md" src="http://www.muabannhadat.vn/tin-tuc/wp-content/themes/blogmbnd/images/clock_mobile.png" alt="" />
                                            @post.UpdatedDate.Value.ToString("dd/MM/yyyy")
                                        </span>
                                        <span class="_des">
                                            @post.Description
                                        </span>
                                    </div>
                                }
                            }

                        </div>
                    </div>
                    <div class="col-sm-12 col-xs-12 hidden-lg hidden-md">
                        <a href="#" title="@item.Name">
                            <span class="_homeCateViewAllMoBile">
                                Xem tất cả
                                <img src="http://www.muabannhadat.vn/tin-tuc/wp-content/themes/blogmbnd/images/icon_arrow2.png" alt="" />
                            </span>
                        </a>
                    </div>
                }
            }


        </div>

        <div class="col-lg-3 col-md-3 mbndBlogContentRight">
            <div class="__mbndHomeRightHeight"></div>
            <div class="_mbndUlListViewRight row-pull">
                <a rel="next" target="_blank" href="http://www.muabannhadat.vn/nha-dat-3490" title="nha dat ban">
                    <h3 class="_mbndCateTitle">
                        NHÀ ĐẤT
                    </h3>
                </a>
                <ul>
                    @if (landType.Count() != 0)
                    {
                        foreach (var item in landType)
                        {
                            var url = "/nha-dat/" + item.Alias + ".lt-" + item.ID + ".html";
                            <li>
                                <a rel="next" target="_blank" href="@url" title="@item.Name">
                                    @item.Name
                                </a>
                                <hr class="mbnd_hr_m_w">
                            </li>
                        }
                    }

                </ul>
            </div>      
        </div>
    </div>
</div>

@section footerJS{
<script src="~/assets/client_v2/js/blog.js"></script>
}