@model LandProject.Web.Infrastructure.Core.PaginationSet<LandProject.Web.Models.LandNewsViewModel>
@{
    var pageIndex = Model.Page;
    ViewBag.Title = pageIndex == 1 ? "Nhà đất bán" : "Nhà đất bán" + " - Trang " + pageIndex;
    var categoryWard = (IEnumerable<LandProject.Common.CountLandNewsDistrictViewModel>)ViewBag.CategoryWard;
    Layout = "~/Views/Shared/_LayoutLand_v2.cshtml";
}
<div class="jumbotron head">
    <div class="container head">
        <div class="row">
            <div class="col-lg-10 col-md-8 hidden-md hidden-sm hidden-xs">
                <ol class="breadcrumb">
                    <li >
                        <a href="/" itemprop="url">
                            <p class="cusp" itemprop="title">Trang chủ</p> > 
                        </a>
                    </li>
                    <li class="active">
                        <p itemprop="title">Nhà đất</p>
                    </li>
                </ol>
            </div>
            <div class="col-lg-2 col-md-12 col-xs-12">
                <a id="lnkCreateAd" class="pull-right btn mbnd-btn-red" href="/member/tao-tin-dang-moi">
                    <img src="~/assets/client_v2/img/ic-pencil.svg" /> Đăng tin miễn phí
                </a>
            </div>
        </div>
    </div>
</div>
<div class="container main bs-docs-container">
    <div class="row" role="main">
        <div class="container">
            <h1 class="headline">
                Nhà đất tại Việt Nam
            </h1>
            <div class="row">
                <div class="col-xs-12 col-md-8 col-lg-9 col-md-push-4 col-lg-push-3 content-list">
                    <div class="pull-left left-sticky-floating">                      
                        <div class="list-group result-list">
                            <div class="filter-result-sort ">
                                <div class="row">
                                    <div class="col-xs-8">
                                        <span id="MainContent_ctlList_ctlResults_lblCount"><strong>@Model.Count</strong> kết quả bất động sản</span>
                                    </div>
                                    <div id="MainContent_ctlList_ctlResults_divSorting" class="col-xs-4">
                                        <select name="ctl00$MainContent$ctlList$ctlResults$ddlSorting" id="MainContent_ctlList_ctlResults_ddlSorting" class="pull-right col-xs-12 btn btn-light">
                                            <option value="df">Mặc định</option>
                                            <option value="dd">Mới nhất</option>
                                            <option value="du">Cũ nhất</option>
                                            <option value="pd">Gi&#225; cao nhất</option>
                                            <option value="pu">Gi&#225; thấp nhất</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            @if (Model.Items.Count() != 0)
                            {
                                foreach (var item in Model.Items)
                                {
                                    var urlDetail = "/" + item.Alias + ".l-" + item.ID + ".html";
                                    <div id="MainContent_ctlList_ctlResults_repList_ctl00_0_divGroupListItem_0" class="mbnd-item Product-TopListing" rel="&lt;%= Model.AdvertId %>">
                                        @{  var urlImage = Url.Content("~/fileman/Uploads/LandNews/"+item.Image);}
                                        <div class="mbnd-item-img" style="background-image: url('@urlImage');">
                                            <div class="mbnd-item-type">
                                                TOP
                                            </div>
                                        </div>
                                        <div class="mbnd-item-body">
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <a href="@urlDetail">
                                                        <h2 class="mbnd-item-title">@item.Title</h2>
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-8">
                                                    <p class="mbnd-item-text">
                                                        @item.WardName
                                                    </p>
                                                </div>
                                                <div class="col-lg-4 text-right">
                                                    <p class="mbnd-item-text">
                                                        <b>@item.ProvinceName, @item.DistrictName</b>
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <p class="mbnd-item-text">
                                                        
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-xs-5 col-lg-3">
                                                    <p class="mbnd-item-price mb-0">@item.TotalPrice VNĐ</p>
                                                </div>
                                                <div class="col-xs-4 col-lg-2">

                                                    <p class="mbnd-item-text mb-0">
                                                        <img src="~/assets/client_v2/img/ic-bed.svg" /><br />                                                      
                                                        @item.NumberBedroom
                                                    </p>

                                                </div>
                                                <div class="col-xs-3 col-lg-2">

                                                    <p class="mbnd-item-text mb-0">
                                                        <img src="~/assets/client_v2/img/ic-acreage.svg" /><br />
                                                        @item.Area m²
                                                    </p>

                                                </div>
                                                <div class="col-xs-5 col-lg-2">
                                                    <p class="mbnd-item-text mb-0">
                                                        Ngày đăng<br />
                                                        @(item.PublishedDate != null ? item.PublishedDate.Value.ToString("dd/MM/yyyy") : "")
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
}
                            }else
                            {
                                <p>Không có dữ liệu</p>
                            }


                            <div class="list-footer text-center ">
                                <ul class="pagination">
                                    @if (Model.TotalPages > 1)
                                    {
                                        // Create numeric links
                                        var startPageIndex = Math.Max(1, Model.Page - Model.MaxPage / 2);
                                        var endPageIndex = Math.Min(Model.TotalPages, Model.Page + Model.MaxPage / 2);

                                        if (Model.Page > 1)
                                        {
                                            <li>
                                                <a href="?page=1" aria-label="First">
                                                </a>
                                            </li>
                                                <li>
                                                    <a href="?page=@(Model.Page-1)" aria-label="Previous">
                                                    </a>
                                                </li>
}
                                        for (int i = startPageIndex; i <= endPageIndex; i++)
                                        {
                                            if (Model.Page == i)
                                            {
                                                <li class="active"><a href="?page=@i" title="Trang @i">@i</a></li>
}
                                            else
                                            {
                                                <li><a href="?page=@i" title="Trang @i">@i</a></li>
}
                                        }
                                        if (Model.Page < Model.TotalPages)
                                        {
                                            <li>
                                                <a href="?page=@(Model.Page+1)" aria-label="Next">
                                                </a>
                                            </li>
                                                <li>
                                                    <a href="?page=@Model.TotalPages" aria-label="Last">
                                                    </a>
                                                </li>}
}
                                </ul>
                            </div>
                        </div>
                                        
                        <div class="clearfix"></div>

                    </div>
                    <div class="visible-md-block visible-lg-block sticky-floating">
                        <ins data-revive-zoneid="84" data-revive-id="aa4a0ec382d9f0c0afc420b398a552a3"></ins>
                    </div>
                </div>
                <div class="col-xs-12 col-md-4 col-lg-3 col-md-pull-8 col-lg-pull-9" id="jump2filter">
                    <div class="panel panel-filter">
                        <div class="panel-heading">
                            Giá (VND)
                        </div>
                        <div class="panel-body range-entry">

                            <div class="form-group col-xs-5">
                                <label>
                                    từ triệu
                                </label>
                                <input name="ctl00$MainContent$ctlList$ctlFilters$AttGroups$ctl03$ctl00$txtMin" type="text" maxlength="16" id="MainContent_ctlList_ctlFilters_AttGroups_ctl00_3_txtMin_3" class="form-control InputJs textbox-phone input-min" placeholder="0" />
                            </div>
                            <div class="form-group col-xs-5">
                                <label>
                                    đến triệu
                                </label>
                                <input name="ctl00$MainContent$ctlList$ctlFilters$AttGroups$ctl03$ctl00$txtMax" type="text" maxlength="16" id="MainContent_ctlList_ctlFilters_AttGroups_ctl00_3_txtMax_3" class="form-control InputJs textbox-phone input-max" placeholder="1.000.000" />
                            </div>
                            <div class="form-group col-xs-2">
                                <input type="hidden" name="ctl00$MainContent$ctlList$ctlFilters$AttGroups$ctl03$ctl00$hidFromPrice" id="MainContent_ctlList_ctlFilters_AttGroups_ctl00_3_hidFromPrice_3" />
                                <input type="hidden" name="ctl00$MainContent$ctlList$ctlFilters$AttGroups$ctl03$ctl00$hidToPrice" id="MainContent_ctlList_ctlFilters_AttGroups_ctl00_3_hidToPrice_3" />
                                <span id="MainContent_ctlList_ctlFilters_AttGroups_ctl00_3_hidMin_3" class="hidden hide-min">0</span>
                                <span id="MainContent_ctlList_ctlFilters_AttGroups_ctl00_3_hidMax_3" class="hidden hide-max">1.000.000</span>


                                <input type="image" name="ctl00$MainContent$ctlList$ctlFilters$AttGroups$ctl03$ctl00$btnfilter" id="MainContent_ctlList_ctlFilters_AttGroups_ctl00_3_btnfilter_3" class="btn-filter" src="~/assets/client_v2/img/ic-search-sm.svg" />
                            </div>

                        </div>
                    </div>
                    <div class="panel panel-filter">
                        <div class="panel-heading">
                            Diện tích
                        </div>
                        <div class="panel-body range-entry">

                            <div class="form-group col-xs-5">
                                <label>
                                    m²
                                </label>
                                <input name="ctl00$MainContent$ctlList$ctlFilters$AttGroups$ctl04$ctl00$txtMin" type="text" maxlength="16" id="MainContent_ctlList_ctlFilters_AttGroups_ctl00_4_txtMin_4" class="form-control InputJs textbox-phone input-min" placeholder="1" />
                            </div>
                            <div class="form-group col-xs-5">
                                <label>
                                    m²
                                </label>
                                <input name="ctl00$MainContent$ctlList$ctlFilters$AttGroups$ctl04$ctl00$txtMax" type="text" maxlength="16" id="MainContent_ctlList_ctlFilters_AttGroups_ctl00_4_txtMax_4" class="form-control InputJs textbox-phone input-max" placeholder="100000" />
                            </div>
                            <div class="form-group col-xs-2">
                                <input type="hidden" name="ctl00$MainContent$ctlList$ctlFilters$AttGroups$ctl04$ctl00$hidFromPrice" id="MainContent_ctlList_ctlFilters_AttGroups_ctl00_4_hidFromPrice_4" />
                                <input type="hidden" name="ctl00$MainContent$ctlList$ctlFilters$AttGroups$ctl04$ctl00$hidToPrice" id="MainContent_ctlList_ctlFilters_AttGroups_ctl00_4_hidToPrice_4" />
                                <span id="MainContent_ctlList_ctlFilters_AttGroups_ctl00_4_hidMin_4" class="hidden hide-min">1</span>
                                <span id="MainContent_ctlList_ctlFilters_AttGroups_ctl00_4_hidMax_4" class="hidden hide-max">100000</span>
                                <input type="image" name="ctl00$MainContent$ctlList$ctlFilters$AttGroups$ctl04$ctl00$btnfilter" id="MainContent_ctlList_ctlFilters_AttGroups_ctl00_4_btnfilter_4" class="btn-filter" src="~/assets/client_v2/img/ic-search-sm.svg" />
                            </div>

                        </div>
                    </div>
                    <div class="panel panel-filter">
                        <div class="panel-heading">
                            Đường trước nhà
                        </div>
                        <div class="panel-body range-entry">
                            <div class="form-group col-xs-5">
                                <label>
                                    m
                                </label>
                                <input name="ctl00$MainContent$ctlList$ctlFilters$AttGroups$ctl06$ctl00$txtMin" type="text" maxlength="16" id="MainContent_ctlList_ctlFilters_AttGroups_ctl00_6_txtMin_6" class="form-control InputJs textbox-phone input-min" placeholder="1,0" />
                            </div>
                            <div class="form-group col-xs-5">
                                <label>
                                    m
                                </label>
                                <input name="ctl00$MainContent$ctlList$ctlFilters$AttGroups$ctl06$ctl00$txtMax" type="text" maxlength="16" id="MainContent_ctlList_ctlFilters_AttGroups_ctl00_6_txtMax_6" class="form-control InputJs textbox-phone input-max" placeholder="36,0" />
                            </div>
                            <div class="form-group col-xs-2">
                                <input type="hidden" name="ctl00$MainContent$ctlList$ctlFilters$AttGroups$ctl06$ctl00$hidFromPrice" id="MainContent_ctlList_ctlFilters_AttGroups_ctl00_6_hidFromPrice_6" />
                                <input type="hidden" name="ctl00$MainContent$ctlList$ctlFilters$AttGroups$ctl06$ctl00$hidToPrice" id="MainContent_ctlList_ctlFilters_AttGroups_ctl00_6_hidToPrice_6" />
                                <span id="MainContent_ctlList_ctlFilters_AttGroups_ctl00_6_hidMin_6" class="hidden hide-min">1,0</span>
                                <span id="MainContent_ctlList_ctlFilters_AttGroups_ctl00_6_hidMax_6" class="hidden hide-max">36,0</span>
                                <input type="image" name="ctl00$MainContent$ctlList$ctlFilters$AttGroups$ctl06$ctl00$btnfilter" id="MainContent_ctlList_ctlFilters_AttGroups_ctl00_6_btnfilter_6" class="btn-filter" src="~/assets/client_v2/img/ic-search-sm.svg" />
                            </div>
                        </div>
                    </div>

                    <div class="_mbndUlListViewRight row-pull">
                        <a rel="next" target="_blank" href="http://www.muabannhadat.vn/nha-dat-3490" title="cho thue nha dat">
                            <h2 class="mbnd_feature_title_home">
                                <span title="Tin mới nhất">DANH MỤC NHÀ ĐẤT</span>
                            </h2>
                        </a>
                        <ul>
                            @if (categoryWard.Count() != 0)
                            {
                                foreach (var item in categoryWard)
                                {
                                    var url = "/nha-dat/" + HttpUtility.HtmlDecode(item.Name) + ".w-" + item.ID + ".html";
                                    <li>
                                        <a rel="next" target="_blank" href="@url">
                                            @item.Name (@item.TotalLandNews)
                                        </a>
                                        <hr class="mbnd_hr_m_w">
                                    </li>
                                }
                            }
                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

