<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title</title>
    <!-- Custom ADMIN -->
    <link href="~/assets/admin/css/custom.css" rel="stylesheet" />
    <!-- Bootstrap -->
    <link href="~/assets/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="~/assets/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- NProgress -->
    <link href="~/assets/vendors/nprogress/nprogress.css" rel="stylesheet">
    <!-- Switchery -->
    <link href="~/assets/vendors/switchery/dist/switchery.min.css" rel="stylesheet">
    <!-- Sweetalert -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-sweetalert/1.0.1/sweetalert.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-sweetalert/1.0.1/sweetalert.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-sweetalert/1.0.1/sweetalert.min.css.map" rel="stylesheet" type="application/json">
    <!-- Kendo -->
    <link href="~/assets/library/KendoUI/styles/kendo.common.min.css" rel="stylesheet" />
    <link href="~/assets/library/KendoUI/styles/kendo.metro.min.css" rel="stylesheet" />
    <link href="~/assets/library/KendoUI/kendo.custom.css" rel="stylesheet" />
    <!-- Validation -->
    <link href="~/assets/vendors/validation/css/validationEngine.jquery.css" rel="stylesheet" />
    <!-- Custom Theme Style -->
    <link href="~/assets/build/css/custom.min.css" rel="stylesheet" />
    <script>
        var _Host = "@Url.Content("~")";
    </script>
    <style>
            .k-widget .k-icon.k-i-warning{
                display:none!important;
            }
    </style>
</head>
<body class="nav-md">
    <div class="container body">
        <div class="main_container">
            <div class="col-md-3 left_col">
                <div class="left_col scroll-view">
                    <div class="navbar nav_title" style="border: 0;">
                        <a href="@Url.Action("Index","Dashboard")" class="site_title"><i class="fa fa-paw"></i> <span>Đất đặc khu</span></a>
                    </div>
                    <div class="clearfix"></div>
                    <br />
                    <!-- sidebar menu -->
                    @{Html.RenderAction("Sidebar", "Dashboard"); }
                    <!-- /sidebar menu -->
                </div>
            </div>
            <!-- header top navigation -->
            @{Html.RenderAction("Header", "Dashboard"); }
            <!-- /header top navigation -->
            <!-- page content -->
            <div class="right_col" role="main">
                <div>
                    @RenderBody()
                </div>
            </div>
            <!-- /page content -->
            <!-- footer content -->
            @{Html.RenderAction("Footer", "Dashboard"); }
            <!-- /footer content -->
        </div>
    </div>

    <!-- jQuery -->
    <script src="~/assets/vendors/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="~/assets/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- Kendo -->
    <script src="~/assets/library/KendoUI/js/kendo.all.min1.js"></script>
    <script src="~/assets/library/KendoUI/js/cultures/kendo.culture.vi-VN.min.js"></script>
    <script src="~/assets/library/KendoUI/custom-kendo.js"></script>
    <script src="~/assets/library/KendoUI/grid-support.js"></script>
    <!-- blockUI -->
    <script src="~/assets/vendors/blockUI/jquery.blockUI.min.js"></script>
    <!-- Switchery -->
    <script src="~/assets/vendors/switchery/dist/switchery.min.js"></script>
    <!-- Sweetalert -->
    <script src="~/assets/vendors/boostrap-sweetalert/sweetalert.js"></script>
    <script src="~/assets/vendors/boostrap-sweetalert/sweetalert.min.js"></script>
    <!-- ICheck -->
    <script src="~/assets/vendors/iCheck/icheck.min.js"></script>
    <!-- Custom Theme Scripts -->
    <script src="~/assets/build/js/custom.min.js"></script>

    <script src="~/assets/library/helper/CallServiceHelper.js"></script>
    <script src="~/assets/library/helper/common.js"></script>
    <!-- Validation -->
    <script src="~/assets/vendors/validation/js/jquery.validationEngine.js"></script>
    <script src="~/assets/vendors/validation/js/jquery.validationEngine-vi.js"></script>
    <script src="~/assets/vendors/bootbox/bootbox.min.js"></script>
    @RenderSection("footerJS", required: false)
</body>
</html>