@model IEnumerable<LandProject.Model.Models.LandType>
<div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
    <div class="menu_section">
        <h3>Quản lý thông tin</h3>
        <ul class="nav side-menu">
            <li>
                <a href="@Url.Action("Index","Dashboard")"><i class="fa fa-home"></i> Trang chủ </a>
            </li>
            <li>
                <a><i class="fa fa-envelope"></i> Quản lý tin nhà đất <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    @if (Model != null && Model.Count() != 0)
                    {
                        foreach (var item in Model)
                        {
                            <li><a href="@Url.Action("Form","LandNews",new { lTypeID = item.ID })"> Tin @item.Name</a></li>
                        }
                    }
                </ul>
            </li>
            <li>
                <a><i class="fa fa-square"></i> Nhà đất <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a href="@Url.Action("Index","LandType")"> Thể loại</a></li>
                    <li><a href="@Url.Action("Index","LandCategory")"> Phân mục</a></li>
                </ul>
            </li>
            <li>
                <a><i class="fa fa-tasks"></i> Dự án <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a href="tables.html"> Thể loại</a></li>
                    <li><a href="chartjs2.html"> Phân mục</a></li>
                </ul>
            </li>

            <li>
                <a><i class="fa fa-newspaper-o"></i> Tin tức <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a href="fixed_sidebar.html">Danh sách tin tức</a></li>
                    <li><a href="fixed_footer.html">Tạo tin tức</a></li>
                </ul>
            </li>

            <li>
                <a><i class="fa fa-users"></i> Hệ thống <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a href="fixed_sidebar.html">Nhóm người dùng</a></li>
                    <li><a href="fixed_footer.html">Phân quyền</a></li>
                    <li><a href="fixed_footer.html">Người dùng</a></li>
                </ul>
            </li>

            <li>
                <a href="@Url.Action("Index","LandNewsSchedule")"><i class="fa fa-newspaper-o"></i> Loại tin</a>
            </li>

        </ul>
    </div>
    <div class="menu_section">
        <h3>Khách truy cập</h3>
        <ul class="nav side-menu">
            <li>
                <a><i class="fa fa-user"></i> Hôm nay : 0 </a>
            </li>
            <li>
                <a><i class="fa fa-user"></i> Tất cả : 0 </a>
            </li>
        </ul>
    </div>

</div>