@model IEnumerable<LandProject.Model.Models.LandType>
@{ 
    var totalVisitor = (LandProject.Common.VisitorStatisticTotalViewModel)ViewBag.TotalVisitor;
}
<div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
    <div class="menu_section">
        <h3>Quản lý thông tin</h3>
        <ul class="nav side-menu">
            <li>
                <a href="@Url.Action("Index","Dashboard")"><i class="fa fa-home"></i> Trang chủ </a>
            </li>
            <li>
                <a><i class="fa fa-envelope"></i> Quản lý tin nhà đất <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    @if (Model != null && Model.Count() != 0)
                    {
                        foreach (var item in Model)
                        {
                            <li><a href="@Url.Action("Form","LandNews",new { lTypeID = item.ID , lTypeName = item.Name })"> Tin @item.Name</a></li>
                        }
                    }
                </ul>
            </li>
            <li>
                <a><i class="fa fa-square"></i> Nhà đất <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a href="@Url.Action("Index","LandType")"> Thể loại</a></li>
                    <li><a href="@Url.Action("Index","LandCategory")"> Phân mục</a></li>
                </ul>
            </li>
            <li>
                <a><i class="fa fa-tasks"></i> Dự án <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a href="@Url.Action("Index","LProjectCategory")"> Thể loại</a></li>
                    <li><a href="@Url.Action("Index","LProject")"> Danh sách dự án</a></li>
                </ul>
            </li>
            <li>
                <a><i class="fa fa-newspaper-o"></i> Tin tức <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a href="#">Danh sách tin tức</a></li>
                    <li><a href="#">Tạo tin tức</a></li>
                </ul>
            </li>
            <li>
                <a href="@Url.Action("Index","LandNewsSchedule")"><i class="fa fa-newspaper-o"></i> Loại phí tin</a>
            </li>

            <li>
                <a><i class="fa fa-newspaper-o"></i> Danh mục - menu<span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a href="@Url.Action("MenuParent","Menu")">Danh mục cha</a></li>
                    <li><a href="@Url.Action("MenuChildren","Menu")">Danh mục con</a></li>
                </ul>
            </li>

            <li>
                <a><i class="fa fa-users"></i> Hệ thống <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a href="fixed_sidebar.html">Nhóm người dùng</a></li>
                    <li><a href="fixed_footer.html">Phân quyền</a></li>
                    <li><a href="fixed_footer.html">Người dùng</a></li>
                </ul>
            </li>

        </ul>
    </div>
    <div class="menu_section">
        <h3><i class="fa fa-arrow-circle-right"></i> <a href="@Url.Action("Index","Visitor")" style="text-decoration:underline;cursor:pointer; color:white">Khách truy cập</a></h3>
        <ul class="nav side-menu">
            <li style="cursor:unset">
                <a style="cursor:unset"><i class="fa fa-user"></i> Hôm nay : @totalVisitor.TotalInDay </a>
            </li>
            <li style="cursor:unset">
                <a style="cursor:unset"><i class="fa fa-user"></i> Tất cả : @totalVisitor.TotalAllDay </a>
            </li>
        </ul>
    </div>

</div>