@model LandProject.Web.Models.LandNewsDetailViewModel
@{
    ViewBag.Title = Model.LandNewsDetail.Title;
    Layout = "~/Views/Shared/_LayoutLand.cshtml";
}
<input type="hidden" id="LatiLongTude" value="@Model.LandNewsDetail.LatiLongTude"/>
<section class="section-full text-left">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <p></p>
                <ol class="breadcrumb">
                    <li>
                        <a href="/">Trang chủ</a>
                    </li>
                    <li>
                        <a href="#">@Model.LandNewsDetail.LandTypeName</a>
                    </li>
                    <li>
                        <a href="#">@Model.LandNewsDetail.LandCategoryName</a>
                    </li>
                    <li class="active">@(String.IsNullOrEmpty(Model.LandNewsDetail.WardName) == true ? Model.LandNewsDetail.DistrictName : Model.LandNewsDetail.WardName)</li>
                </ol>
            </div>
        </div>
    </div>
</section>
<section class="bg-dark section-sm section-sm-mod-1 text-left">
    <div class="container">
        <div class="row flow-offset-7">
            <div class="col-xs-12 col-sm-6 col-md-2">
                <p>Thể loại</p>
                <a href="agent-personal.html" class="h5 text-sushi text-regular">@Model.LandNewsDetail.LandTypeName</a>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3">
                <p>Khu vực</p>
                <a href="#" class="h5 text-sushi text-regular">@Model.LandNewsDetail.ProvinceName , @Model.LandNewsDetail.DistrictName @(String.IsNullOrEmpty(Model.LandNewsDetail.WardName) == true ? "" : ","+Model.LandNewsDetail.WardName)</a>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2">
                <p>Địa chỉ</p>
                <p class="h5 text-sushi text-regular">@Model.LandNewsDetail.Address</p>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2">
                <p>Diện tích</p>
                <p class="h5 text-sushi text-regular">@Model.LandNewsDetail.Area m<sup>2</sup></p>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-2 col-lg-2 col-lg-offset-1">
                <p>Giá</p>
                <p class="thumbnail-price h5" style="color:#fc8816">
                    @Model.LandNewsDetail.TotalPrice
                    @*<span class="mon text-regular">/month</span>*@
                </p>
            </div>

        </div>
    </div>
</section>
<section class="section-sm section-sm-mod-2 text-left">
    <div class="container">
        <h5>@Model.LandNewsDetail.Title</h5>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-8">
                <!-- Slick Carousel-->
                @if (Model.LandNewsDetail.LandFiles.Count() != 0)
                {
                    <div data-arrows="true" data-loop="false" data-dots="false" data-swipe="true" data-xs-items="1" data-photo-swipe-gallery="gallery" data-child="#child-carousel" data-for=".thumbnail-carousel" class="slick-slider carousel-parent">
                        @foreach (var itemFile in Model.LandNewsDetail.LandFiles)
                        {
                            <a data-photo-swipe-item="" data-size="1200x743" href="~/fileman/Uploads/LandNews/@itemFile.FileName" class="item">
                                <img src="~/fileman/Uploads/LandNews/@itemFile.FileName" alt="" width="770" height="513">
                            </a>
                        }
                    </div>                  
                <div id="child-carousel" data-for=".carousel-parent" data-arrows="true" data-loop="false" data-dots="false" data-swipe="true" data-items="2" data-xs-items="4" data-sm-items="4" data-md-items="5" data-lg-items="5" data-slide-to-scroll="1" class="slick-slider thumbnail-carousel">
                    @foreach (var itemFile in Model.LandNewsDetail.LandFiles)
                    {
                        <div class="item">
                            <div class="product-thumbnail">
                                <img src="~/fileman/Uploads/LandNews/@itemFile.FileName" alt="" width="130" height="86">
                            </div>
                        </div>
                    }
                </div>
                }

                <div class="row">
                    <div class="col-xs-12">
                        <h4 class="border-bottom offset-8">Mô tả</h4>
                        <p>
                           @Html.Raw(Model.LandNewsDetail.Description)
                        </p>

                        <h4 class="border-bottom p-t-20">Chi tiết</h4>
                        <div class="table-mobile offset-11">
                            <table class="table table-default">
                                <tbody>
                                    <tr>
                                        <td>Diện tích</td>
                                        <td>@Model.LandNewsDetail.Area  m<sup>2</sup></td>
                                    </tr>
                                    <tr>
                                        <td>Mặt tiền (m)</td>
                                        <td>@Model.LandNewsDetail.Facade</td>
                                    </tr>
                                    <tr>
                                        <td>Đường vào (m)</td>
                                        <td>@Model.LandNewsDetail.Entry</td>
                                    </tr>
                                    <tr>
                                        <td>Hướng nhà</td>
                                        <td>@Model.LandNewsDetail.HouseDirection</td>
                                    </tr>
                                    <tr>
                                        <td>Hướng ban công</td>
                                        <td>@Model.LandNewsDetail.BalconyDirection</td>
                                    </tr>
                                    <tr>
                                        <td>Số tầng</td>
                                        <td>@Model.LandNewsDetail.NumberFloor</td>
                                    </tr>
                                    <tr>
                                        <td>Số phòng ngủ</td>
                                        <td>@Model.LandNewsDetail.NumberBedroom</td>
                                    </tr>
                                    <tr>
                                        <td>Số Toilet</td>
                                        <td>@Model.LandNewsDetail.NumberWC</td>
                                    </tr>
                                    <tr>
                                        <td>Nội thất</td>
                                        <td>@Model.LandNewsDetail.Furniture</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4">
                <div class="sidebar sidebar-mod-1">
                    <div class="sidebar-module">
                        <!-- RD Google Map-->
                        <div class="rd-google-map">
                            <div id="rd-google-map" data-zoom="15" data-x="-73.9874068" data-y="40.643180" style="height:520px" data-styles="[{&quot;featureType&quot;:&quot;administrative&quot;,&quot;elementType&quot;:&quot;labels.text.fill&quot;,&quot;stylers&quot;:[{&quot;color&quot;:&quot;#444444&quot;}]},{&quot;featureType&quot;:&quot;landscape&quot;,&quot;elementType&quot;:&quot;all&quot;,&quot;stylers&quot;:[{&quot;color&quot;:&quot;#f2f2f2&quot;}]},{&quot;featureType&quot;:&quot;poi&quot;,&quot;elementType&quot;:&quot;all&quot;,&quot;stylers&quot;:[{&quot;visibility&quot;:&quot;off&quot;}]},{&quot;featureType&quot;:&quot;poi.business&quot;,&quot;elementType&quot;:&quot;geometry.fill&quot;,&quot;stylers&quot;:[{&quot;visibility&quot;:&quot;on&quot;}]},{&quot;featureType&quot;:&quot;road&quot;,&quot;elementType&quot;:&quot;all&quot;,&quot;stylers&quot;:[{&quot;saturation&quot;:-100},{&quot;lightness&quot;:45}]},{&quot;featureType&quot;:&quot;road.highway&quot;,&quot;elementType&quot;:&quot;all&quot;,&quot;stylers&quot;:[{&quot;visibility&quot;:&quot;simplified&quot;}]},{&quot;featureType&quot;:&quot;road.arterial&quot;,&quot;elementType&quot;:&quot;labels.icon&quot;,&quot;stylers&quot;:[{&quot;visibility&quot;:&quot;off&quot;}]},{&quot;featureType&quot;:&quot;transit&quot;,&quot;elementType&quot;:&quot;all&quot;,&quot;stylers&quot;:[{&quot;visibility&quot;:&quot;off&quot;}]},{&quot;featureType&quot;:&quot;water&quot;,&quot;elementType&quot;:&quot;all&quot;,&quot;stylers&quot;:[{&quot;color&quot;:&quot;#b4d4e1&quot;},{&quot;visibility&quot;:&quot;on&quot;}]}]"
                                 class="rd-google-map__model-4">
                            </div>
                        </div>
                    </div>

                    <div class="sidebar-module">
                        <h4 class="border-bottom">Thông tin liên hệ</h4>
                        <div class="media media-mod-3">
                            <div class="media-body">
                                <h5 class="text-sushi">@Model.LandNewsDetail.Agent.Name</h5>
                                <dl class="dl-horizontal-mod-1 text-ubold text-abbey">
                                    <dt>SDT.</dt>
                                    <dd>
                                        <a href="callto:#">@Model.LandNewsDetail.Agent.Phone1</a>
                                    </dd>
                                </dl>
                            </div>
                        </div>
                    </div>
                    <div class="sidebar-module">
                        <h4>Tin nhà đất liên quan</h4>
                        @if (Model.LandNewsRelated.Count() != 0)
                        {
                            foreach (var item in Model.LandNewsRelated)
                            {
                                <div class="thumbnail-3">
                                    <img src="~/fileman/Uploads/LandNews/@item.Image" alt="" width="340" height="230">
                                    <div class="caption">
                                        <a href="#" class="h5 text-sushi">@item.Address</a>
                                        <p class="text-abbey">
                                            <span class="text-ubold">@item.TotalPrice</span>
                                        </p>
                                        <p class="text-abbey">
                                            <span class="text-ubold">@item.Area  m<sup>2</sup></span>
                                        </p>
                                    </div>
                                </div>
                            }
                        }
                    </div>
                    <div class="sidebar-module">
                        <h4 class="border-bottom">Share</h4>
                        <div class="icon-group">
                            <a href="#" class="icon icon-sm icon-social fa-facebook"></a>
                            <a href="#" class="icon icon-sm icon-social fa-twitter"></a>
                            <a href="#" class="icon icon-sm icon-social fa-google-plus"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@section footerJS{
    <script type="text/javascript" src="//maps.google.com/maps/api/js?sensor=false&key=AIzaSyAfx5a8yx5MqeGoTS3ierzoe35TXoX0ZOY&libraries=places"></script>
    <script>
        var latiLongTude = $("#LatiLongTude").val()
        var arrLatLong = latiLongTude.split(',');
        initMap(arrLatLong[0], arrLatLong[1]);
        //init map
        function initMap(latitude, longitude) {
            var posVietNam = { lat: 16.4498, lng: 107.5624 };
            var zoomSize = 5;
            if (latitude && longitude) {
                posVietNam = { lat: parseFloat(latitude), lng: parseFloat(longitude) };
                zoomSize = 18;
            }
            var map = new google.maps.Map(document.getElementById('rd-google-map'), {
                zoom: zoomSize,
                center: posVietNam
            });
            marker = new google.maps.Marker({
                map: map,
                draggable: true,
                animation: google.maps.Animation.DROP,
                position: posVietNam
            });
            google.maps.event.addListener(marker, 'dragend', function (event) {
                document.getElementById("Latitude").value = this.getPosition().lat();
                document.getElementById("Longitude").value = this.getPosition().lng();
            });
            //autocomplete = new google.maps.places.Autocomplete(
            //    (document.getElementById('address')), { types: ['geocode'] });
            //var input = document.getElementById('address');
            //autocomplete = new google.maps.places.Autocomplete(input);
            //autocomplete.addListener('place_changed', fillInAddress);
        }
    </script>
}