<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="utf-8" />
    <link rel="publisher" href="https://plus.google.com/+datdackhu" />
    <!-- Site Title-->
    <title>@ViewBag.Title</title>

    <meta property="og:locale" content="vi_VN" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta content="~/assets/client/img/logo_new.jpg" property="og:image" />
    <meta property="og:image:width" content="200" />
    <meta property="og:image:height" content="200" />
    <meta name="msvalidate.01" content="A308E85101FF5B11536223A09983A432" />
    <meta name="alexaVerifyID" content="S2-myIVTmc9TJ0ILBN9tFPVgv-4" />
    <meta name="google-site-verification" content="Rt_gkL-fAy8toQ5xDNpw-9svn_7s1u6iXxM8D_8Xpdw" />
    <meta name="robots" content="index,follow" />
    <meta name="description" content="Mua bán nhà đất (bất động sản VN) » 100 ngàn tin mới nhất: Bán nhà, thuê nhà, căn hộ chung cư, sang nhượng nhà, đất nền » Datdackhu.vn ✓ Giá từ 20tr/m2." />
    <meta content="trang thông tin bất động sản hàng đầu vn | muabannhadat" property="og:title" />
    <meta content="Mua bán nhà đất (bất động sản VN) » 100 ngàn tin mới nhất: Bán nhà, thuê nhà, căn hộ chung cư, sang nhượng nhà, đất nền » Datdackhu.vn ✓ Giá từ 20tr/m2." property="og:description" />
    <meta content="1576235492626228" property="fb:app_id" />
    <meta content="website" property="og:type" />
    <meta content="http://www.datdackhu.vn/" property="og:url" />
    <meta content="2019-06-04T11:17:58+07:00" property="og:updated_time" />
    <meta name="msapplication-square70x70logo" content="~/assets/client/img/logo_new.jpg" />
    <meta name="msapplication-square150x150logo" content="~/assets/client/img/logo_new.jpg" />
    <meta name="msapplication-wide310x150logo" content="~/assets/client/img/logo_new.jpg" />
    <meta name="msapplication-square310x310logo" content="~/assets/client/img/logo_new.jpg" />
    <link rel="apple-touch-icon" href="~/assets/client/img/logo_new.jpg" />
    <link rel="apple-touch-icon" sizes="76x76" href="~/assets/client/img/logo_new.jpg" />
    <link rel="apple-touch-icon" sizes="120x120" href="~/assets/client/img/logo_new.jpg" />
    <link rel="apple-touch-icon" sizes="152x152" href="~/assets/client/img/logo_new.jpg" />
    <link rel="dns-prefetch" href="https://www.google-analytics.com/" />
    <link rel="dns-prefetch" href="https://www.googletagmanager.com/" />
    <link rel="dns-prefetch" href="http://adserver.muabannhadat.vn/" />
    <link rel="dns-prefetch" href="https://www.facebook.com" />
    <link rel="dns-prefetch" href="https://www.doubleclickbygoogle.com/" />
    <link rel="shortcut icon" type="image/x-icon" href="~/assets/client/img/logo_new.jpg" />

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link href="~/assets/client_v2/css/style.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
</head>
<body>
    <!--Header-->
    @{Html.RenderAction("Header2", "Home2"); }
    <!--Body-->
    <div class="body-content">
        @RenderBody()
    </div>
    <!--Footer-->
    <footer id="footer">
        @{Html.RenderAction("Footer2", "Home2"); }
    </footer>

    <!--init-->
    <script src="~/assets/client_v2/js/common_ddk.min.js"></script>
    <!-- blockUI -->
    <script src="~/assets/vendors/blockUI/jquery.blockUI.min.js"></script>
    <script> var _Host = "@Url.Content("~")";</script>
    <!-- ajax helper -->
    <script src="~/assets/library/helper/CallServiceHelper.js"></script>
    <script src="~/assets/client_v2/js/ddkapi.js"></script>
    <script type="text/javascript">
        window.onload = function () {
            mbndApi.initMbndApi();
        }
    </script>
    <script>
        $(window).scroll(function () {
            var scroll = $(window).scrollTop();

            if (scroll >= 200) {
                $(".mbnd-navbar").addClass("navbar-fixed-top");
            } else {
                $(".mbnd-navbar").removeClass("navbar-fixed-top");
            }
        });
    </script>
    <script>
         function gettoken() {
            var token = '@Html.AntiForgeryToken()';
            token = $(token).val();
            return token;
          }
        $('body').on('click', '#btnLogout', function (e) {
            $.ajax({
                type: "POST",
                url: _Host + "Account/LogOut",
                data: {
                    __RequestVerificationToken: gettoken(),
                },
                dataType: 'json',
                contentType: 'application/x-www-form-urlencoded; charset=utf-8',
                success: function (response) {
                    console.log(response)
                    if (response.status) {
                        window.location.href = _Host;
                    }
                },
            });
        });
    </script>
    @RenderSection("footerJS", required: false)
</body>
</html>
