@model IEnumerable<LandProject.Web.Models.MenuGroupViewModel>
@{ 
    var userInfo = (LandProject.Web.Models.ApplicationUserViewModel)ViewBag.UserInfo;
    int index = 0;
}
<nav class="rd-navbar" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fullwidth" data-md-layout="rd-navbar-fullwidth" data-lg-layout="rd-navbar-fullwidth" data-device-layout="rd-navbar-fixed" data-sm-device-layout="rd-navbar-fixed" data-md-device-layout="rd-navbar-fixed"
     data-lg-device-layout="rd-navbar-fullwidth" data-stick-up-offset="100px">
    <!--RD Navbar Panel-->
    <div class="rd-navbar-top-panel">
        <div class="rd-navbar-top-panel-wrap">
            <div class="top-panel-inner">
                <dl class="dl-horizontal-mod-1 login">
                    @if (userInfo != null)
                    {                      
                        <dt>
                            <span class="fa-user icon-xxs-mod-2"></span>
                        </dt>
                        <dd>
                            @using (Html.BeginForm("LogOut", "Account", FormMethod.Post, new { @id = "frmLogout" }))
                            {
                                @Html.AntiForgeryToken()
                               <span>@userInfo.UserName</span><a href="#" id="btnLogout"> / đăng xuất</a>
                            }

                            <input name="UserId" id="UserId" value="@userInfo.Id" class="hidden" />
                            <input name="UserId" id="UserName" value="@userInfo.FullName" class="hidden" />
                            <input name="UserId" id="UserMobile" value="@userInfo.PhoneNumber" class="hidden" />
                            <input name="UserId" id="UserAddress" value="@userInfo.Address" class="hidden" />
                            <input name="UserId" id="UserEmail" value="@userInfo.Email" class="hidden" />
                        </dd>

                    }
                    else
                    {
                        <dt>
                            <span class="fa-sign-in icon-xxs-mod-2"></span>
                        </dt>
                        <dd>
                            <input name="UserId" id="UserId" value="" class="hidden" />
                            <input name="UserId" id="UserName" value="" class="hidden" />
                            <input name="UserId" id="UserMobile" value="" class="hidden" />
                            <input name="UserId" id="UserAddress" value="" class="hidden" />
                            <input name="UserId" id="UserEmail" value="" class="hidden" />
                            <a href="/dang-nhap.html" class="text-sushi">Đăng ký/Đăng nhập</a>
                        </dd>
                    }

                </dl>
                @*<dl class="dl-horizontal-mod-1 login">
                    <dt>
                        <span class="fa-user icon-xxs-mod-2"></span>
                    </dt>
                    <dd>
                        <a href="#" class="text-sushi">Đăng nhập</a>
                    </dd>
                </dl>*@
            </div>

            <dl class="dl-horizontal-mod-1">
                <dt>
                    <span class="fa-map-marker icon-xxs-mod-2"></span>
                </dt>
                <dd>
                    <a href="#" class="inset-11">Vạn Ninh, Khánh Hòa</a>
                </dd>
            </dl>
            <dl class="dl-horizontal-mod-1">
                <dt>
                    <span class="fa-phone icon-xxs-mod-2"></span>
                </dt>
                <dd>
                    <a href="callto:#">03-68-68-68-68</a>
                </dd>
            </dl>
            <div class="btn-group">
                <a href="/dang-tin-rao-vat-ban-nha-dat.html" class="btn btn-sm btn-primary fa-plus-circle">  Đăng tin rao</a>
            </div>
        </div>
    </div>
    <div class="rd-navbar-inner inner-wrap">
        <div class="rd-navbar-panel">
            <!-- RD Navbar Toggle-->
            <button data-rd-navbar-toggle=".rd-navbar-nav-wrap" class="rd-navbar-toggle">
                <span></span>
            </button>
            <!-- RD Navbar Brand-->
            <div class="rd-navbar-brand">
                <a href="/" class="brand-name">
                    <img src="https://livedemo00.template-help.com/wt_prod-1143/images/logo-1.png" alt="">
                </a>
            </div>
        </div>
        <div class="btn-group">
            <a href="/dang-tin-rao-vat-ban-nha-dat.html" class="btn btn-sm btn-primary fa-plus-circle">  Đăng tin rao</a>
        </div>
        <div class="rd-navbar-nav-wrap">
            <!-- RD Navbar Nav-->
            <ul class="rd-navbar-nav">
                <li class="active">
                    <a href="/" class="font-seogui">Trang chủ</a>
                </li>
                @if (Model.Count() != 0)
                {
                    foreach (var itemMenuGroup in Model)
                    {
                        <li>
                            <a href="@itemMenuGroup.URL" class="font-seogui" target="@(String.IsNullOrEmpty(itemMenuGroup.Target) == true ? "_self" : itemMenuGroup.Target)">@itemMenuGroup.Name</a>
                            @if (itemMenuGroup.Menus.Count() != 0)
                            {
                                var lstMenu = itemMenuGroup.Menus;
                                <ul class="rd-navbar-dropdown">
                                    @foreach (var itemMenuChild in lstMenu)
                                    {
                                        <li>
                                            <a href="@itemMenuChild.URL" target="@(String.IsNullOrEmpty(itemMenuChild.Target) == true ? "_self" : itemMenuChild.Target)">@itemMenuChild.Name</a>
                                        </li>
                                    }
                                </ul>
                            }
                        </li>
                    }
                }

                <li class="link-group">
                    <a href="/dang-tin-rao-vat-ban-nha-dat.html" target="" class="btn btn-sm btn-primary fa-plus-circle"> Đăng tin rao</a>
                </li>
                <li class="rd-navbar-bottom-panel">
                    <div class="rd-navbar-bottom-panel-wrap">
                        <dl class="dl-horizontal-mod-1 login">
                            <dt>
                                <span class="mdi mdi-login icon-xxs-mod-2"></span>
                            </dt>
                            @if (userInfo != null)
                            {
                                <dd>
                                    <span>@userInfo.UserName</span><a href="#" id="btnLogout"> / đăng xuất</a>
                                </dd>
                            }
                            else
                            {
                                <dd>
                                    <a href="/dang-nhap.html" class="text-sushi">Đăng ký/Đăng nhập</a>
                                </dd>
                            }

                        </dl>
                        <div class="top-panel-inner">
                            <dl class="dl-horizontal-mod-1">
                                <dt>
                                    <span class="icon-xxs-mod-2 fa-phone"></span>
                                </dt>
                                <dd>
                                    <a href="#">03-68-68-68-68</a>
                                </dd>
                            </dl>

                            <address>
                                <dl class="dl-horizontal-mod-1">
                                    <dt>
                                        <span class="icon-xxs-mod-2 mdi fa-map-marker"></span>
                                    </dt>
                                    <dd>
                                        <a href="#" class="inset-11">Vạn ninh, Khánh hòa</a>
                                    </dd>
                                </dl>
                            </address>
                        </div>

                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>
